{% extends 'quiz_view/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'quiz_view/register.css' %}">
{% endblock %}
{% block body %}
<h2>Create Account</h2>
<div class="cont">
  
  <div class="form">
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <h1>Register</h1>
      {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
      <input type="text"
             class="user"
             placeholder="Username" name = "username"/>
      <input type="text"
      class="user"
      placeholder="Email" name = "email"/>
      <input type="password" 
             class="pass"
             placeholder="Password" name="password1"/>
      <input type="password" 
      class="pass"
      placeholder="Confirm password" name="password2"/>
      <button class="login">Login</button>
      <small><a href="{% url 'register' %}">Dont have and account?</a></small>
    </form>
  </div>
</div>
{% endblock %}